{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
jQuery(document).ready(function($){
  if (navigator.platform == "iPad") return;
  jQuery(".img img").lazyload({
    effect:"fadeIn",
    placeholder: "/static/pics/grey.gif"
  });
});
</script>
{% end %}

{% block body %}

<h1>书籍列表</h1>
<div id="content">
  <div class="grid-16-8 clearfix">
    <!--article-->
    <div class="article">
      <p class="ul first"></p>
      <!--subjects-->
            <table width="100%">
        <tbody><tr>
          <td width="100" valign="top"><a class="nbg" href="/subject/642.html" title="冬天的骨头"> <img src="/attachment/movie/642/s1a55d0e13f.jpg" alt="冬天的骨头"></a> </td>
          <td valign="top"><div class="pl2"><a href="/subject/642.html">冬天的骨头</a></div>
		                <span> <span class="pl">导演:</span><a href="/tag/%E9%BB%9B%E5%B8%83%E6%8B%89%C2%B7%E6%A0%BC%E5%85%B0%E5%B0%BC%E5%85%8B/1.html">黛布拉·格兰尼克</a></span><br>
			               <span> <span class="pl">制片国家/地区:</span>美国</span><br>
			               <span> <span class="pl">上映日期:</span>2010-06-11</span><br>
			   <div class="star clearfix">
 <span class="allstar35"></span><span class="rating_nums">7.3</span><span class="pl">(9729人评价)</span></div></td>
        </tr>
      </tbody></table>
      <div id="collect_form_1291990"></div>
      <p class="ul"></p>
            <table width="100%">
        <tbody><tr>
          <td width="100" valign="top"><a class="nbg" href="/subject/645.html" title="社交网络"> <img src="/attachment/movie/645/scebe808384.jpg" alt="社交网络"></a> </td>
          <td valign="top"><div class="pl2"><a href="/subject/645.html">社交网络</a></div>
		                <span> <span class="pl">导演:</span><a href="/tag/%E5%A4%A7%E5%8D%AB%C2%B7%E8%8A%AC%E5%A5%87/1.html">大卫·芬奇</a></span><br>
			               <span> <span class="pl">制片国家/地区:</span>美国</span><br>
			               <span> <span class="pl">上映日期:</span>2010-10-01</span><br>
			   <div class="star clearfix">
 <span class="allstar40"></span><span class="rating_nums">8.2</span><span class="pl">(117308人评价)</span></div></td>
        </tr>
      </tbody></table>
      <div id="collect_form_1291990"></div>
      <p class="ul"></p>
            <table width="100%">
        <tbody><tr>
          <td width="100" valign="top"><a class="nbg" href="/subject/651.html" title="机器人9号"> <img src="/attachment/movie/651/s15a9f638d1.jpg" alt="机器人9号"></a> </td>
          <td valign="top"><div class="pl2"><a href="/subject/651.html">机器人9号</a></div>
		                <span> <span class="pl">导演:</span><a href="/tag/Shane%20Acker/1.html">Shane Acker</a></span><br>
			               <span> <span class="pl">制片国家/地区:</span>美国</span><br>
			               <span> <span class="pl">上映日期:</span>2009-09-09</span><br>
			   <div class="star clearfix">
 <span class="allstar35"></span><span class="rating_nums">7.3</span><span class="pl">(38224人评价)</span></div></td>
        </tr>
      </tbody></table>
      <div id="collect_form_1291990"></div>
      <p class="ul"></p>
            <table width="100%">
        <tbody><tr>
          <td width="100" valign="top"><a class="nbg" href="/subject/660.html" title="勇敢的心"> <img src="/attachment/movie/660/s905755bbd8.jpg" alt="勇敢的心"></a> </td>
          <td valign="top"><div class="pl2"><a href="/subject/660.html">勇敢的心</a></div>
		                <span> <span class="pl">导演:</span><a href="/tag/%E6%A2%85%E5%B0%94%C2%B7%E5%90%89%E5%B8%83%E6%A3%AE/1.html">梅尔·吉布森</a></span><br>
			               <span> <span class="pl">制片国家/地区:</span>美国</span><br>
			               <span> <span class="pl">上映日期:</span>1995-05-24</span><br>
			   <div class="star clearfix">
 <span class="allstar40"></span><span class="rating_nums">8.8</span><span class="pl">(130668人评价)</span></div></td>
        </tr>
      </tbody></table>
      <div id="collect_form_1291990"></div>
      <p class="ul"></p>
            <table width="100%">
        <tbody><tr>
          <td width="100" valign="top"><a class="nbg" href="/subject/661.html" title="斯巴达300勇士"> <img src="/attachment/movie/661/s7650e7c8fc.jpg" alt="斯巴达300勇士"></a> </td>
          <td valign="top"><div class="pl2"><a href="/subject/661.html">斯巴达300勇士</a></div>
		                <span> <span class="pl">导演:</span><a href="/tag/%E6%89%8E%E5%85%8B%C2%B7%E6%96%BD%E5%A5%88%E5%BE%B7/1.html">扎克·施奈德</a></span><br>
			               <span> <span class="pl">制片国家/地区:</span>美国</span><br>
			               <span> <span class="pl">上映日期:</span>2007-03-09</span><br>
			   <div class="star clearfix">
 <span class="allstar35"></span><span class="rating_nums">7.5</span><span class="pl">(39903人评价)</span></div></td>
        </tr>
      </tbody></table>
      <div id="collect_form_1291990"></div>
      <p class="ul"></p>
            <table width="100%">
        <tbody><tr>
          <td width="100" valign="top"><a class="nbg" href="/subject/662.html" title="真实的谎言"> <img src="/attachment/movie/662/scfcd862709.jpg" alt="真实的谎言"></a> </td>
          <td valign="top"><div class="pl2"><a href="/subject/662.html">真实的谎言</a></div>
		                <span> <span class="pl">导演:</span><a href="/tag/%E8%A9%B9%E5%A7%86%E6%96%AF%C2%B7%E5%8D%A1%E6%A2%85%E9%9A%86/1.html">詹姆斯·卡梅隆</a></span><br>
			               <span> <span class="pl">制片国家/地区:</span>美国</span><br>
			               <span> <span class="pl">上映日期:</span>1994-07-15</span><br>
			   <div class="star clearfix">
 <span class="allstar40"></span><span class="rating_nums">8</span><span class="pl">(52170人评价)</span></div></td>
        </tr>
      </tbody></table>
      <div id="collect_form_1291990"></div>
      <p class="ul"></p>
            <!--end subjects-->
	  <!--page-->
	  <div class="paginator"><div class="pagination"><a href="?page=39">« 前页</a><a href="?page= 1">1</a><a href="?page= 2">2</a>...<a href="?page=37">37</a><a href="?page=38">38</a><a href="?page=39">39</a><span class="thispage">40</span><a href="?page=41">41</a><a href="?page=41">下页 »</a></div>
</div>
	  <!--end page-->
    </div>
    <!--end article-->
    <!--aside-->
    <div class="aside">
      <!-- ad-->
<!--rankvideo-->
      <div class="block5 movie_show">
        <h2>随机影片 · · · · · · </h2>
        <div class="content clearfix" id="movie_rec">
          <dl>
            <dt><a href="/subject/1.html"><img src="/attachment/movie/1/s5f423f36f0.jpg" class="m_sub_img"></a></dt>
            <dd><a href="/subject/1.html">加勒比海盗4：惊涛怪浪</a><span class="gact"></span><br>
            </dd>
          </dl>
                              <dl>
            <dt><a href="/subject/2.html"><img src="/attachment/movie/2/s933c061700.jpg" class="m_sub_img"></a></dt>
            <dd><a href="/subject/2.html">指环王</a><span class="gact"></span><br>
            </dd>
          </dl>
                              <dl>
            <dt><a href="/subject/3.html"><img src="/attachment/movie/3/s7e6c2954c0.jpg" class="m_sub_img"></a></dt>
            <dd><a href="/subject/3.html">魔戒</a><span class="gact"></span><br>
            </dd>
          </dl>
                    <div class="clearfix rr" style="width:100%"></div>
                              <dl>
            <dt><a href="/subject/4.html"><img src="/attachment/movie/4/s58bd251918.jpg" class="m_sub_img"></a></dt>
            <dd><a href="/subject/4.html">哈利·波特与混血王子</a><span class="gact"></span><br>
            </dd>
          </dl>
                              <dl>
            <dt><a href="/subject/5.html"><img src="/attachment/movie/5/s1c71956d00.jpg" class="m_sub_img"></a></dt>
            <dd><a href="/subject/5.html">加勒比海盗2：聚魂棺</a><span class="gact"></span><br>
            </dd>
          </dl>
                              <dl>
            <dt><a href="/subject/6.html"><img src="/attachment/movie/6/s34d3b0a34a.jpg" class="m_sub_img"></a></dt>
            <dd><a href="/subject/6.html">加勒比海盗3：世界的尽头</a><span class="gact"></span><br>
            </dd>
          </dl>
                    <div class="clearfix rr" style="width:100%"></div>
                            </div>
      </div>
      <!--end rankvideo-->
    </div>
    <!--end aside-->
  </div>
</div>
  <div class="fdiv clearfix"></div>
{% end %}

</html>

</html>
