{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
jQuery(document).ready(function($){
  if (navigator.platform == "iPad") return;
  jQuery(".img img").lazyload({
    effect:"fadeIn",
    placeholder: "/static/pics/grey.gif"
  });
});
</script>
{% end %}

{% block body %}
<h1>书籍列表</h1>
<div id="content">
  <div class="grid-16-8 clearfix">
    <!--article-->
    <div class="article">
      <p class="ul first"></p>
      <!--subjects-->
      {% for entry in entries %}
        <table width="100%">
        <tbody>
          <tr>
          <td width="100" valign="top">
            <a class="nbg" href="/viewbook/{{ entry['_id'] }}" title="{{ escape(entry['bookname']) }}">
          <img src="/data/{{ entry['cover'] }}" height="96" alt="{{ escape(entry['bookname']) }}"></a> </td>
          <td valign="top">
            <div class="pl2"><a href="/viewbook/{{ entry['_id'] }}">{{ escape(entry['bookname']) }}</a></div>
		        <span> <span class="pl">作者:</span>{{ escape(entry['author']) }}</span><br>
			      <span> <span class="pl">分类:</span>{{ entry['cate_name'] }}</span><br>
			      <span> <span class="pl">适应设备:</span>
                  {% if entry['mobi'] %}
                  kindel
                  {%  elif entry['epub'] %}
                  iphone ipad kindle
                  {% end %}
                  </span><br>
			   <div class="star clearfix">
          <span class="allstar40"></span>
          <span class="rating_nums">8</span><span class="pl">( {{ entry['good'] + entry['bad'] }}人评价)</span></div>
          </td>
        </tr>
      </tbody>
      </table>
      <p class="ul"></p>
      {% end %}
      <!--end subjects-->
	  <!--page-->
	  <div class="paginator">
        <div class="pagination">
          {{ pagehtml }}
        </div>
    </div>
	  <!--end page-->
    </div>
    <!--end article-->
    <!--aside-->
    <div class="aside">
      <!-- ad-->
<!--rankvideo-->
      <div class="block5 movie_show">
        <h2>随机影片 · · · · · · </h2>
        <div class="content clearfix" id="movie_rec">
          <dl>
            <dt><a href="/subject/1.html"><img src="/attachment/movie/1/s5f423f36f0.jpg" class="m_sub_img"></a></dt>
            <dd><a href="/subject/1.html">加勒比海盗4：惊涛怪浪</a><span class="gact"></span><br>
            </dd>
          </dl>
                              <dl>
            <dt><a href="/subject/2.html"><img src="/attachment/movie/2/s933c061700.jpg" class="m_sub_img"></a></dt>
            <dd><a href="/subject/2.html">指环王</a><span class="gact"></span><br>
            </dd>
          </dl>
                              <dl>
            <dt><a href="/subject/3.html"><img src="/attachment/movie/3/s7e6c2954c0.jpg" class="m_sub_img"></a></dt>
            <dd><a href="/subject/3.html">魔戒</a><span class="gact"></span><br>
            </dd>
          </dl>
                    <div class="clearfix rr" style="width:100%"></div>
                              <dl>
            <dt><a href="/subject/4.html"><img src="/attachment/movie/4/s58bd251918.jpg" class="m_sub_img"></a></dt>
            <dd><a href="/subject/4.html">哈利·波特与混血王子</a><span class="gact"></span><br>
            </dd>
          </dl>
                              <dl>
            <dt><a href="/subject/5.html"><img src="/attachment/movie/5/s1c71956d00.jpg" class="m_sub_img"></a></dt>
            <dd><a href="/subject/5.html">加勒比海盗2：聚魂棺</a><span class="gact"></span><br>
            </dd>
          </dl>
                              <dl>
            <dt><a href="/subject/6.html"><img src="/attachment/movie/6/s34d3b0a34a.jpg" class="m_sub_img"></a></dt>
            <dd><a href="/subject/6.html">加勒比海盗3：世界的尽头</a><span class="gact"></span><br>
            </dd>
          </dl>
                    <div class="clearfix rr" style="width:100%"></div>
                            </div>
      </div>
      <!--end rankvideo-->
    </div>
    <!--end aside-->
  </div>
</div>
  <div class="fdiv clearfix"></div>
{% end %}

</html>

