<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>电子书 - dospy智能手机网 塞班 安卓Android 苹果iPhone 微软WM 新闻 软件 游戏 下载</title>
<meta name="keywords" content="诺基亚,浏览器" />
<meta name="description" content="NOKIA浏览器七宗“最”，神马都成浮云" />
<link href="../css/main.css" rel="stylesheet" type="text/css" />
<script type=text/javascript src="../scripts/jquery_home.js"></script>
<script type=text/javascript src="../scripts/phone.js"></script>
<script src="http://www.dospy.com/e/data/js/ajax.js"></script>
</head>
<body>
<script type="text/javascript"> 
<!--
function enablePngImages() {
	var imgArr = document.getElementsByTagName("IMG");
	var version = parseFloat(navigator.appVersion.split("MSIE")[1]);
 
	if (version = 6.0 && (document.body.filters)) {
		for(var i=0, j=imgArr.length; i<j; i++){
			if(imgArr[i].src.toLowerCase().lastIndexOf(".png") != -1){
				imgArr[i].style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + imgArr[i].src + "', sizingMethod='auto')";
				imgArr[i].src = "../images/none.gif";
			}
 
			if(imgArr[i].currentStyle.backgroundImage.lastIndexOf(".png") != -1){
				var img = imgArr[i].currentStyle.backgroundImage.substring(5,imgArr[i].currentStyle.backgroundImage.length-2);
				imgArr[i].style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+img+"', sizingMethod='crop')";
				imgArr[i].style.backgroundImage = "url(../images/none.gif)";
			}
		}
	}
}
//-->
</script>
<script type="text/javascript"> 
<!--
window.onload = function() {
	enablePngImages();
}
//-->
</script>
<div class="www">
  <div id="ebook">
    <div id="tips"><img src="../images/exclamation2.png" width="50" height="50" hspace="10" align="absmiddle" />错误提示错误提示！</div>
    <div class="left">
      <div class="title">
        <ul>
          <li class="active"><span><a href="#">我的电子书</a></span></li>
          <li><span><a href="#">创建书籍</a></span></li>
        </ul>
      </div>
      <div class="list">
        <table border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="50" height="30" align="center">&nbsp;</td>
            <td width="80" height="30" align="center"><b>编号</b></td>
            <td width="200" height="30" align="center"><b>书籍名</b></td>
            <td width="150" height="30" align="center"><b>时间</b></td>
            <td width="80" height="30" align="center"><b>点击下载</b></td>
            <td width="146" height="30" align="center"><b>操作</b></td>
          </tr>
        </table>
        <table border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="50" height="30" align="center"><input name="" type="checkbox" value="" /></td>
            <td width="80" height="30" align="center">5555</td>
            <td width="200" height="30" align="center">书籍名</td>
            <td width="150" height="30" align="center">2011-4-27 10:25</td>
            <td width="80" height="30" align="center">Txt</td>
            <td width="146" height="30" align="center"><a href="#">上传</a>&nbsp;<a href="#">添加</a></td>
          </tr>
          <tr>
            <td width="50" height="30" align="center"><input name="" type="checkbox" value="" /></td>
            <td width="80" height="30" align="center">5555</td>
            <td width="200" height="30" align="center">书籍名</td>
            <td width="150" height="30" align="center">2011-4-27 10:25</td>
            <td width="80" height="30" align="center">Txt</td>
            <td width="146" height="30" align="center"><a href="#">上传</a>&nbsp;<a href="#">添加</a></td>
          </tr>
          <tr>
            <td width="50" height="30" align="center"><input name="" type="checkbox" value="" /></td>
            <td width="80" height="30" align="center">5555</td>
            <td width="200" height="30" align="center">书籍名</td>
            <td width="150" height="30" align="center">2011-4-27 10:25</td>
            <td width="80" height="30" align="center">Txt</td>
            <td width="146" height="30" align="center"><a href="#">上传</a>&nbsp;<a href="#">添加</a></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="right"><img name="ad" src="" width="200" height="200" alt="" /></div>
    <div class="left">
      <div class="title">
        <ul>
          <li><span><a href="#">我的电子书</a></span></li>
          <li class="active"><span><a href="#">创建书籍</a></span></li>
        </ul>
      </div>
      <div class="form">
        <table width="708" cellspacing="2">
          <tr>
            <td width="143" height="40" align="right">创建书籍名称</td>
            <td width="10" height="40" align="left">&nbsp;</td>
            <td width="539" height="40" align="left"><label>
                <input name="textfield" type="text" class="input" id="textfield" />
              </label></td>
          </tr>
          <tr>
            <td width="143" height="40" align="right">创建人</td>
            <td width="10" height="40" align="left">&nbsp;</td>
            <td width="539" height="40" align="left"><input type="text" class="input" name="textfield2" id="textfield2" />
              <b>默认为当前用户名</b></td>
          </tr>
          <tr>
            <td width="143" height="40" align="right">书籍作者</td>
            <td width="10" height="40" align="left">&nbsp;</td>
            <td width="539" height="40" align="left"><input type="text" class="input" name="textfield3" id="textfield3" /></td>
          </tr>
          <tr>
            <td width="143" height="40" align="right">书籍封面</td>
            <td width="10" height="40" align="left">&nbsp;</td>
            <td width="539" height="40" align="left"><input type="text" class="input" name="textfield4" id="textfield4"/>
              <input name="" type="button" class="btn" value="上传"/></td>
          </tr>
          <tr>
            <td width="143" height="40" align="right">书籍目录地址</td>
            <td width="10" height="40" align="left">&nbsp;</td>
            <td width="539" height="40" align="left"><input type="text" class="input" name="textfield5" id="textfield5" /></td>
          </tr>
          <tr>
            <td width="143" height="40" align="right">选择生成格式</td>
            <td width="10" height="40" align="left">&nbsp;</td>
            <td width="539" height="40" align="left"><label>
                <input name="checkbox" type="checkbox" id="checkbox" />
              </label>
              Txt&nbsp;&nbsp;
              <label>
                <input type="checkbox" name="checkbox" id="checkbox" />
              </label>
              Jar&nbsp;&nbsp;
              <label>
                <input type="checkbox" name="checkbox" id="checkbox" />
              </label>
              Chm&nbsp;&nbsp;
              <label>
                <input type="checkbox" name="checkbox" id="checkbox" />
              </label>
              Umd&nbsp;&nbsp;
              <label>
                <input type="checkbox" name="checkbox" id="checkbox" />
              </label>
              Epub(iPhone)</td>
          </tr>
          <tr>
            <td height="40" colspan="3" align="right"><div class="xline">&nbsp;</div></td>
          </tr>
          <tr>
            <td height="40" align="right">&nbsp;</td>
            <td height="40" align="left">&nbsp;</td>
            <td height="40" align="left"><label>
                <input name="button" type="image" id="button" value="提交" src="../images/eb_yes.gif" />
                <input name="button" type="image" id="button" value="提交" src="../images/eb_back.gif" />
              </label></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- 页脚 -->
</div>
</body>
</html>
